* {
  box-sizing: border-box;
}

html {
  -webkit-overflow-scrolling: touch !important;
  overflow: auto !important;
  height: 100% !important;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  background-color: transparent;
  border-bottom: 2px solid black;
}
